<% provide(:title, "Student Index") %>

<div class="export-link">
	<%= link_to("Export Data", prisoners_path(format: :csv)) %>
</div>

<table id="datatable-prisoner" class="table table-striped table-bordered">
	<thead>
		<tr>
			<td>First Name</td>
			<td>Last Name</td>
			<td>City</td>
			<td>State</td>
			<td>Street Address</td>
			<td>Enrollment Date</td>
			<td>Comments</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @prisoners.each do |prisoner| %>
			<tr class="table-row">
				<td><%= prisoner.first_name %></td>
				<td><%= prisoner.last_name %></td>
				<td><%= prisoner.city %></td>
				<td><%= prisoner.state %></td>
				<td><%= prisoner.full_address_1 %><br><%= prisoner.full_address_2 %></td>
				<td><%= prisoner.enrollment_date %></td>
				<td><%= prisoner.comments %></td>
				<td><%= link_to "Profile", prisoner_path(prisoner), class: "btn btn-primary" %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<script type="text/javascript">
	$(document).ready(function(){
		$("#datatable-prisoner").DataTable({})
	})
</script>