<div id="sidebar">
	<div id="logo">
		<svg width="148px" height="220px" viewBox="39 -13 148 220" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <defs></defs>
		    <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(39.000000, -13.000000)" font-size="125" font-family="Avenir-Book, Avenir" letter-spacing="6.94444418" font-weight="normal">
		        <text id="C" fill="#769FCC">
		            <tspan x="0" y="125">C</tspan>
		        </text>
		        <text id="G" fill="#769FCC">
		            <tspan x="43" y="174">G</tspan>
		        </text>
		    </g>
		</svg>
	</div>

	<nav>
		<div class="nav-link"><%= link_to 'Home', root_path %></div>
		<div class="nav-link"><%= link_to 'Students', prisoners_path %></div>
		<div class="nav-link"><%= link_to 'Volunteers', volunteers_path %></div>
		<div class="nav-link"><%= link_to 'Units', units_path %></div>
		<div class="nav-link"><%= link_to 'Waitlist', '/waitlist' %></div>
		<div class="nav-link"><%= link_to 'Late Units', '/late/7' %></div>
		<div class="nav-link"><%= link_to 'Courses', '/course_overview' %></div>
		<div class="nav-link"><%= link_to 'Reports', reports_path %></div>
	</nav>
</div>